# Imports

In [1]:
import pandas as pd

In [2]:
import sys
sys.path.append("..")

from scripts.utils import get_data

In [3]:
train_path = get_data("train")
test_path = get_data("test")

In [4]:
train = pd.read_csv(train_path)

# Data

In [5]:
train.shape

(10054, 3)

In [6]:
train.head()

,ID,Yoruba,English
0,ID_AAJEQLCz,A ṣètò Ìgbìmọ̀ Tó Ń Ṣètò Ìrànwọ́ Nígbà Àjálù l...,A Disaster Relief Committee was formed to orga...
1,ID_AASNedba,"Ìrọ̀lẹ́ May 22, 2018 ni wọ́n fàṣẹ ọba mú Arákù...",Brother Solovyev was arrested on the evening o...
2,ID_AAeQrhMq,Iléeṣẹ́ Creative Commons náà,Creative Commons the Organization
3,ID_AAxlMgPP,"Pè̩lú Egypt, Morocco àti Tunisia tí wó̩n ti lo...","With Egypt, Morocco and Tunisia out of the Wor..."
4,ID_ABKuMKSx,Adájọ́ àgbà lórílẹ̀ èdè Náíjíríà (Attorney Gen...,"The Attorney General of the Federation, Justic..."

In [7]:
# complete duplicates 
train[train.duplicated(subset=["Yoruba", "English"], keep=False)].sort_values(by="English")

,ID,Yoruba,English
3618,ID_SWZanygs,(Ìtàkùrọ̀sọ lórí ẹ̀rọ ìbánisọ̀rọ̀),(Phone conversation)
5914,ID_eVmbGZKn,(Ìtàkùrọ̀sọ lórí ẹ̀rọ ìbánisọ̀rọ̀),(Phone conversation)
9876,ID_zKuIErAg,1.1 Ìtàn Creative Commons,1.1 The Story of Creative Commons
8201,ID_qQGmWKwd,1.1 Ìtàn Creative Commons,1.1 The Story of Creative Commons
6077,ID_fOhABEMP,1.2 Creative Commons Lónìí,1.2 Creative Commons Today
...,...,...,...
6329,ID_glFHvDti,Kí ni mo ṣe?,What have I done?
188,ID_AtiAvYha,Kí ni mo ṣe?,What have I done?
4812,ID_YqrOKAzX,Kí ni?,What is it?
763,ID_DuDCjmGa,Kí ni?,What is it?
3304,ID_QpWTFPyw,Kí ni?,What is it?

In [8]:
train.drop_duplicates(subset=["Yoruba", "English"], inplace=True)
train.shape

(9990, 3)

In [9]:
# TODO: Examine in variable explorer. May inform decision to drop
english_duplicates = train[train.duplicated(subset="English", keep=False)].sort_values(by="English")
yoruba_duplicates = train[train.duplicated(subset="Yoruba", keep=False)].sort_values(by="Yoruba")